# Servidor
PORT=3000

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=farmacia_tds
DB_SCHEMA=farmacia

# Opciones TypeORM
DB_SYNCHRONIZE=false
DB_LOGGING=false
